* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    gap: 200px;
    background: url(../img/bgc.png) no-repeat;
    background-size: cover;
}

.top_block {
    background: url(../img/main-screen__bgc.png) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px;
        box-sizing: border-box;
        .links {
            display: flex;
            gap: 56px;
            .link {
                text-decoration: none;
            }
        }
        .btn_login {
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            border-radius: 50px;
            padding: 10px 30px;
            cursor: pointer;
        }
    }
    .timer {
        width: 100%;
        padding-left: 250px;
        box-sizing: border-box;
        .timer_con {
            display: flex;
            flex-direction: column;
            gap: 50px;
            .title {
                font-weight: 700;
                font-size: 64px;
                line-height: 140%;
            }
            .chisla {
                display: flex;
                flex-direction: row;
                gap: 30px;
                .box {
                    width: 110px;
                    height: 110px;
                    background: #121212;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .chislo {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 140%;
                    }
                    .text {
                        opacity: .4;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
        }
    }
    .top_footer {
        display: flex;
        width: 100%;
        align-items: center;
        background: #121212;
        justify-content: center;
        .top_footer_con {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 36px 0px;
            .zakaz {
                background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
                border-radius: 50px;
                padding: 10px 30px;
                cursor: pointer;
            }
            .center_block {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                .top_center_block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    width: 100%;
                    gap: 30px;
                    .left {
                        font-size: 16px;
                        line-height: 150%;
                        color: #FFFFFF;
                        opacity: 0.4;
                    }
                    .right {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                }
            }
            .procent_block {
                display: flex;
                width: 50%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 7px;
                .top {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 30px;
                    .left {
                        font-size: 16px;
                        line-height: 150%;
                        color: #FFFFFF;
                        opacity: 0.4;
                    }
                    .right {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                }
                .center {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    .left {
                        width: 40%;
                        height: 6px;
                        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
                    }
                    .right {
                        width: 60%;
                        height: 6px;
                        background: #fff;
                    }
                }
                .bot {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    width: 100%;
                    p {
                        font-size: 16px;
                        line-height: 150%;
                        opacity: .4;
                    }
                }
            }
        }
    }
}

.second_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    width: 100%;
    .second_block_con {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        gap: 139px;
        width: 70%;
        .text {
            display: flex;
            flex-direction: column;
            gap: 45px;
        }
    }
}

.fourth_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 231px;
    .fourth_block_con {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        .start {
            display: flex;
            align-items: flex-start;
            justify-content: left;
            flex-direction: column;
            width: 100%;
            gap: 49px;
            .logo {
                display: flex;
                gap: 20px;
                flex-direction: row;
                .text {
                    h1 {
                        font-size: 48px;
                    }
                }
            }
            .godTEXT {
                p {
                    opacity: 0.5;
                }
            }
            .text {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .pizdec {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .lol {
            display: flex;
            flex-direction: column;
            h1 {
                padding-top: 80px;
                padding-bottom: 20px;
            }
            p {
                display: flex;
                font-size: 14px;
                padding-top: 35px;
                margin-right: 18px;
                opacity: 0.5;
            }
            .img_block {
                display: flex;
                height: 80px;
                align-items: center;
                justify-content: center;
                gap: 20px;
                img {
                    width: 100%;
                }
                .img1 {
                    height: 60px;
                }
                .img2 {
                    height: 30px;
                }
                .img3 {
                    height: 10px;
                }
            }
        }
    }
}

.five_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    .five_block_con {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .zagolovok {
            display: flex;
            padding-bottom: 120px;
            font-size: 25px;
        }
        .gen {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 82px;
        }
        .pc {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1 {
                text-align: center;
                font-size: 24px;
                padding-bottom: 30px;
                padding-top: 60px;
            }
            p {
                display: flex;
                text-align: center;
                font-size: 16px;
                opacity: .8;
            }
        }
    }
}

.six_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 231px;
    .six_block_con {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        gap: 117px;
        .logo {
            display: flex;
            flex-direction: row;
            width: 100%;
            h1 {
                padding-left: 52px;
                font-size: 48px;
            }
        }
        .msi {
            display: flex;
            flex-wrap: wrap;
            width: 1327px;
            img {
                display: flex;
                padding: 30px 66px;
                border-right: 1px solid rgb(151, 151, 151);
                border-bottom: 1px solid rgb(151, 151, 151);
                &:nth-child(4) {
                    border-right: none;
                }
                &:nth-child(8) {
                    border-right: none;
                }
                &:nth-child(8) {
                    border-bottom: none;
                }
                &:nth-child(7) {
                    border-bottom: none;
                }
                &:nth-child(6) {
                    border-bottom: none;
                }
                &:nth-child(5) {
                    border-bottom: none;
                }
            }
        }
    }
}

.seven_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 243px;
    width: 100%;
    .seven_block_con {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 76px;
                h1 {
                    font-size: 48px;
                }
                p {
                    display: flex;
                    padding-top: 30px;
                    text-align: center;
                    opacity: .5;
                    font-size: 16px;
                }
            }
        }
        .border {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            padding-top: 80px;
            .lol {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 87px;
                .chel {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    .text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: right;
                        h1 {
                            font-size: 14px;
                            opacity: .5;
                            font-weight: normal;
                            text-align: right;
                            padding-bottom: 15px;
                            width: 100%;
                        }
                        p {
                            font-size: 18px;
                        }
                    }
                    .left {
                        background: white;
                        width: 40px;
                        height: 1px;
                        opacity: .5;
                    }
                }
            }
            .perpl {
                background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
                width: 6px;
                height: 677px;
            }
            .kek {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 87px;
                .man {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 20px;
                    .text {
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: left;
                        h1 {
                            font-size: 14px;
                            opacity: .5;
                            font-weight: normal;
                            padding-bottom: 15px;
                        }
                        p {
                            font-size: 18px;
                        }
                    }
                }
                .right {
                    background: white;
                    width: 40px;
                    height: 1px;
                    opacity: .5;
                }
            }
        }
    }
}

.eight_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 231px;
    .eight_block_con {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo {
            display: flex;
            justify-content: cebter;
            align-items: center;
            flex-direction: row;
            gap: 39px;
            width: 100%;
            h1 {
                font-size: 48px;
            }
        }
        .prepodi {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 70%;
            gap: 250px;
            padding-top: 113px;
            .dimas {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .text {
                    display: flex;
                    padding-top: 40px;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    h1 {
                        font-size: 24px;
                        font-weight: normal;
                        padding-bottom: 15px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: normal;
                        padding-bottom: 30px;
                        white-space: nowrap;
                    }
                }
                .cnopka {
                    border: 1px solid #fff;
                    border-radius: 50px;
                    padding: 10px 30px;
                    cursor: pointer;
                }
            }
        }
    }
}

.nine_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .nine_block_con {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        gap: 60px;
        .text {
            text-align: center;
            h1 {
                font-size: 48px;
                padding-bottom: 30px;
            }
            p {
                opacity: .5;
            }
        }
        .sub {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .email {
                input {
                    background: hsla(0, 0%, 100%, 0.253);
                    width: 353px;
                    height: 44px;
                    border-radius: 50px 0px 0px 50px;
                    border: 0;
                    outline: none;
                    color: white;
                    font-weight: bolder;
                    box-sizing: border-box;
                    padding-left: 30px;
                }
            }
            .subca {
                button {
                    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
                    width: 160px;
                    height: 44px;
                    border-radius: 0px 50px 50px 0px;
                    border: 0;
                    outline: none;
                    cursor: pointer;
                    font-weight: bolder;
                    font-size: 16px;
                }
            }
        }
        .sety {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 30px;
            .grad {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
                width: 50px;
                height: 50px;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }
}